.navbar {
  position: fixed;
  z-index: 3;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: black;
  padding-top: 8em;
  color: white;
}
.modal-content {
  color: black;
}

.suits_gallery img {
  height: 400px;
  object-fit: cover;
  width: 100%;
}

.product-list {
  list-style: none;
  padding: 0;
}
.scroll_to_top {
  background: #fff;
  border-radius: 20px;
  border: 1px solid #000;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: fixed;
  right: 10px;
  bottom: 10px;
  transition: 0.3s;
}
.scroll_to_top:hover {
  transform: scale(1.2);
}
.scroll_to_top img {
  width: 15px;
}
.product-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
}

.remove-button {
  background-color: #ff6b6b;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.remove-button:hover {
  background-color: #ff3333;
}

.payment-methods {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
}

.payment-method {
  margin-right: 15px;
  cursor: pointer;
}

.payment-method.selected {
  border: 2px solid #007bff;
}

#totalPrice {
  font-size: 24px;
  margin: 20px 0;
}

.checkout-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.checkout-button:hover {
  background-color: #0056b3;
}
#celine-section,
#vivienne-section {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 1s, transform 3s;
}

.card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

#clothingTabs {
  margin-bottom: 20px;
}

/* DRAG AND DROP GAME */
.list-group {
  min-height: 100px;
  border: 2px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
}

.list-group-item {
  cursor: pointer;
  user-select: none;
}

[data-drop-target="true"] {
  background-color: #f0f0f0;
  min-height: 120px;
}
.draggable {
  cursor: grab;
}

.drop-area {
  border: 2px dashed #007bff;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

.correct-drop {
  background-color: #8bff8b;
}

.wrong-drop {
  background-color: #ff8b8b;
}

/* ABOUT US */
.about_us {
  text-align: center;
  padding-top: 100px;
  margin-bottom: 100px;
}
.about_us_container {
  padding-top: 30px;
}
.about_us_item {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 50px;
}
.about_us_item_left,
.about_us_item_right {
  width: 45%;
}

.about_us_item_right img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/* BLOG */

.blog_video {
  position: relative;
  padding-top: 100px;
}
.blog_video h1 {
  margin-bottom: 30px;
  text-align: center;
}
.full_video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  margin: 0 auto;
}
.play_btn {
  position: absolute;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f0f0f0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
}
.hidden_video {
  display: none;
}
.play_btn img {
  width: 20px;
}

/* Contact Us */

.contact_us {
    color: #000;
    padding-top: 100px;
}

.contact_us_box {

  background: #fff;
  margin:  0 auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact_us_form {
  margin-top: 20px;

}
.btn_submit {
    margin-top: 20px;
    border-radius: 10px;
    background: #fff;
    border: 1px solid #000;
    transition: 0.3s;
}
.btn_submit:hover{
    background: #000;
    color: #fff;

}
.contact_us_form form{
    display: flex;
    flex-direction: column;
}
.navbar-nav .dropdown-menu{
    position: absolute;
    left: 50%;
}

.tab-link{
  color: #fff;
  transition:0.3s;
}

@media screen and (max-width: 780px) {
    .contact_us_box{
        width: 90%;
    }
  .about_us_item_left,
  .about_us_item_right {
    width: 100%;
  }
  .suits_gallery {
    display: flex;
    flex-direction: column;
  }
  .bag_column {
    display: flex;
    flex-direction: column;
  }
  .bag_column .col-4 {
    width: 100%;
  }
}

.center_text{
    justify-content: center;
}
@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}


.autumn-sales {
animation: pulse 2s infinite;
color: red;
}




.popupform{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  z-index: 9;


}
.open-button{
  background: #fff;
  border-radius: 20px;
  border: 1px solid #000;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: fixed;
  left: 10px;
  bottom: 10px;
  transition: 0.3s;
  
}
.open-button img{
  width: 15px;
}
.open-button:hover{
  transform: scale(1.2);
}

.chat-popup{
  display: none;
  position: fixed;
  bottom: 0;
  left: 10px;
  z-index: 9;
}
.form-container{
  max-width: 300px;
  padding: 10px;
  background-color: white;
  border-radius: 8px;

}
.form-container textarea{
  width: 100%;
  padding: 15px;
  margin: 5px;
  border: none;
  border-radius: 8px;
  resize: none;
  min-height: 200px;
  
}
.form-container textarea:focus{
  background-color: #ddd;
  outline: none;

}
.form-container .btn{
  background-color: #04aa6d;
  color: white;
  padding: 16px 20px;
  border-radius: 8px;
  border:none;
  cursor:pointer;
  width:100%;
  margin-bottom:10px;
  opacity: 0.8;
  transition:0.3s;

}
.form-container .cancel{
  background-color: red;
  

}